.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.645);
    justify-content: center;
    z-index: 4;
    opacity: 0;
    animation: fade-up 500ms linear 1 forwards;
    animation-timing-function: ease-in;
    .login-form-container {
        width: 400px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        background: rgb(237, 237, 237);
        transform: translateY(-100vh);
        animation: drop 500ms linear 1 forwards;
        animation-timing-function: ease-in-out;
        h1 {
            text-align: center;
        }
        .form-inputs {
            padding: 1rem;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 200px;
        }
        .form-input {
            margin-top: 15px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        .errors {
            display: grid;
            .error {
                background: rgba(255, 0, 0, 0.213);
                color: red;
                padding: 1rem;
                padding: 5px;
            }
        }
        .submit {
            margin: 1rem;
        }
        .form-top {
            position: relative;
            .close-login-form {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                background: none;
                border: none;
                height: 50px;
                width: 50px;
                &:hover div {
                    background: rgb(177, 177, 177);
                }
                div {
                    position: absolute;
                    background: rgb(100, 100, 100);
                    height: 2px;
                    width: 25px;
                    &:nth-child(1) {
                        right: 15px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        right: 15px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .form-bottom {
            display: flex;
            align-items: center;
            padding: 1rem;
            .form-checkbox-container {
                flex: 1;
                display: flex;
                align-items: center;
            }
        }
    }
}

.login.invisible {
    animation: fade-down 500ms linear 1 forwards;
    .login-form-container {
        animation: pull 500ms linear 1 forwards;
        animation-timing-function: ease-in-out;
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-down {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes drop {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

@keyframes pull {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(-100%);
    }
}